/* CVUnique.module.css */

/* Contenedor principal */
.CVUniqueContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #007bff; /* Agrega un borde azul */
  background-color: #f0f8ff; /* Cambia el fondo a un tono de azul claro */
}

/* Estilos para cada campo */
.CVField {
  margin-bottom: 10px;
}

.CVField label {
  font-weight: bold;
  margin-right: 10px;
}

.CVField div {
  margin-left: 10px;
}

/* Estilo para el título */
.CVTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para la descripción */
.CVDescription {
  font-style: italic;
}

/* Estilo para los campos de texto largo (experiencia laboral, formación académica, habilidades) */
.CVLargeText {
  white-space: pre-line;
}

/* Estilo para el enlace de volver atrás */
.BackLink {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.BackLink:hover {
  text-decoration: underline;
}
